[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-watch = "*"

[packages]
"discord.py" = "*"
slack-bolt = "*"
discord-py-slash-command = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
arrow = "*"
requests = "*"

[requires]
python_version = "3.8"
